<div class="x_panel">
    <div class="x_title">
        <h2>New Reservation</h2>
        <div class="clearfix"></div>
    </div>

    <div class="x_content"  ng-controller="reservationController">
        <br />
        <form id="demo-form2" ng-submit="insertdata()"  data-parsley-validate class="form-horizontal form-label-left">

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Cust_ID">Customer ID  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="t1" name="cust_ID" required="required" class="form-control col-md-7 col-xs-12" ng-model="cust_ID">
                </div>

            </div>
            </br>

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Yor_Stay">Check-In  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="date" id="cal1" name="calender1" required="required" class="form-control col-md-7 col-xs-12" ng-model="calender1">
                </div>

            </div>
            </br>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Yor_Stay">Check-Out <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="date" id="cal2" name="calender2" required="required" class="form-control col-md-7 col-xs-12" ng-model="calender2">
                </div>
            </div>
            </br>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Nights">Nights <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select>
                        <option value="one">1</option>
                        <option value="two">2</option>
                        <option value="three">3</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                        <option value="six">6</option>
                        <option value="seven">7</option>
                        <option value="eight">8</option>
                        <option value="nine">9</option>
                        <option value="ten">10</option>
                    </select>
                </div>
            </div>
            </br>
            <div class="form-group">
                <label for="No_of_Rooms" class="control-label col-md-3 col-sm-3 col-xs-12">No Of Rooms <span class="required">*</span> </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select>
                        <option value="onee">1</option>
                        <option value="twoo">2</option>
                        <option value="threee">3</option>
                    </select>
                </div>
            </div>
            </br>
            <div class="ln_solid"></div>

            <!--<div class="form-group">-->
            <!--<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">-->
            <!--&lt;!&ndash;<button class="btn btn-primary" type="button">Cancel</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-primary" type="reset">Reset</button>&ndash;&gt;-->
            <!--<button type="submit" class="btn btn-success">Save</button>-->
            <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="col-sm-1 col-md-offset-8">
                    <div class="pull-right">
                        <button type="submit" name="save" class="btn btn-primary">
                            <i class="fa fa-floppy-o"
                               style="padding-right: 16px;width: 12px;"></i>
                            Check Availability
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-1 col-md-offset-8">
                    <div class="pull-right">
                        <button type="submit" name="save" class="btn btn-primary">
                            <i class="fa fa-floppy-o"
                               style="padding-right: 16px;width: 12px;"></i>
                            Add
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>


</div>
